@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}
<div class="page registration-result-page">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="page-body">
        <form asp-route="/customer/ConfirmPassword" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            <div class="validation-summary-errors" style="text-align:center">
                @Model.Result
            </div>
                <div class="buttons">
                    <div>
                        <input type="hidden" name="MobileNumber" value="@Model.MobileNumber" />
                        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                        <div class="otp_text">@T("OTP.Enter.Val")   @Model.MobileNumber</div>
                        <div class="otp_val ">
                            <input type="text" name="OtpString" value="@Model.OtpString" id="otp" />
                        </div>
                        <button type="submit" class="otp_btn">@T("OTP.Enter")</button>
                    </div>
                </div>
        </form>
    </div>
</div>

<style>

    .otp_text {
        font-size: 20px;
        font-weight: 700;
        color: green;
    }

    input#otp {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        width: 300px;
    }

    button.otp_btn {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #8c7e7e;
        color: green;
    }
</style>
