@model IList<CategoryModel>
@if (Model.Count > 0)
{
<style>
        @@-webkit-keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(calc(-300px * @((Model.Count/2))));
            }
        }
        @@keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(calc(-300px * @((Model.Count/2))));
            }
        }
        .slider {
            overflow: hidden;
            position: relative;
        }
        .slider::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
        .slider::before {
            left: 0;
            top: 0;
        }
        .slider .slide-track {
            -webkit-animation: scroll 5s linear infinite;
            animation: scroll 5s linear infinite;
            display: flex;
        }

    .category-grid.home-page-category-grid.slider {
        width: 80%;
    }
    .see_more {
        width: 20%;
        min-height: 100px;
        background-color: aquamarine;
        height: 250px;
    }
    .category-grid.home-page-category-grid.slider, .see_more {
        display: inline-block;
        float: left;
    }
    .item-box.slide {
        min-width: 300px;
        border-radius: 5px;
        overflow: hidden;
    }

</style>


    <div class="category-grid home-page-category-grid slider">
        <div class="item-grid slide-track">
            @foreach (var item in Model)
            {
                <div class="item-box slide">
                    <div class="category-item">
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="see_more"></div>
}





