@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShipmentDetails").Text);
    //page class
    Html.AppendPageCssClassParts("html-shipment-details-page");
}
@using Nop.Core.Domain.Common;

<form asp-controller="order" asp-action="MakeAnOrder" method="post" enctype="multipart/form-data" id="category-form">
    <input type="hidden" id="lineItem" value="2" name="lineItem" />


    <div id="make_an_order">
        <div class="mnoContainer">
            @*<span class="itm_number">1</span>*@
            <div class="cross"><i class="far fa-times-circle"></i></div>
            <input type="hidden" value="0" class="productid" name="id0" />
            <input type="hidden" value="0" class="productPrice" />
            <input type="hidden" value="0" class="price" name="price0" />
            <input type="hidden" value="" class="attrName" name="attrName0" />
            <div class="product_name_dv container_info"><span class="title">@T("Sale.Product.Name") </span>  <input type="text" placeholder="@T("Sale.Product.Name")" class="product_name" name="name0" /></div>
            <div class="pproduct_quantity_dv container_info"><span class="title">@T("Sale.Product.QTY")</span> <input type="number" placeholder="@T("Sale.Product.QTY")" name="quantity0" min="1" value="1" class="product_qty" /></div>
            <div class="product_attr_dv container_info"><span class="title">@T("Sale.Product.Attr")</span> <div class="atter_append">     </div> </div>
            <div class="product_des_dv container_info"><span class="title">@T("Sale.Product.Description")</span><textarea class="productDec" placeholder="@T("Sale.Product.Description")" name="description0"></textarea></div>
            <div class="Product_price_div container_info"><span class="title dontBlock">@T("Sale.Product.Price") </span> <span class="product_price">@T("Amount.Zero")</span></div>
            <div class="pproduct_img_dv container_info"><span class="title dontBlock">@T("Sale.Product.Image")</span> <input name="image0" type="file" accept="image/png, image/jpeg" class="product_img" /></div>
        </div>

        <div class="mnoContainer">
            @*<span class="itm_number">2</span>*@

            <div class="cross"><i class="far fa-times-circle"></i></div>
            <input type="hidden" value="0" class="productid" name="id1" />
            <input type="hidden" value="0" class="productPrice" />
            <input type="hidden" value="0" class="price" name="price1" />
            <input type="hidden" value="" class="attrName" name="attrName1" />
            <div class="product_name_dv container_info"><span class="title">@T("Sale.Product.Name") </span>  <input type="text" placeholder="@T("Sale.Product.Name")" class="product_name" name="name1" /></div>
            <div class="pproduct_quantity_dv container_info"><span class="title">@T("Sale.Product.QTY")</span> <input type="number" placeholder="@T("Sale.Product.QTY")" name="quantity1" min="1" value="1" class="product_qty" /></div>
            <div class="product_attr_dv container_info"><span class="title">@T("Sale.Product.Attr")</span> <div class="atter_append">     </div> </div>
            <div class="product_des_dv container_info"><span class="title">@T("Sale.Product.Description")</span><textarea class="productDec" placeholder="@T("Sale.Product.Description")" name="description1"></textarea></div>
            <div class="Product_price_div container_info"><span class="title dontBlock">@T("Sale.Product.Price") </span> <span class="product_price">@T("Amount.Zero")</span></div>
            <div class="pproduct_img_dv container_info"><span class="title dontBlock">@T("Sale.Product.Image")</span> <input name="image1" type="file" accept="image/png, image/jpeg" class="product_img" /></div>
        </div>

        <div class="mnoContainer">
            @*<span class="itm_number">3</span>*@
            <div class="cross"><i class="far fa-times-circle"></i></div>
            <input type="hidden" value="0" class="productid" name="id2" />
            <input type="hidden" value="0" class="productPrice" />
            <input type="hidden" value="0" class="price" name="price2" />
            <input type="hidden" value="" class="attrName" name="attrName2" />
            <div class="product_name_dv container_info"><span class="title">@T("Sale.Product.Name") </span>  <input type="text" placeholder="@T("Sale.Product.Name")" class="product_name" name="name2" /></div>
            <div class="pproduct_quantity_dv container_info"><span class="title">@T("Sale.Product.QTY")</span> <input type="number" placeholder="@T("Sale.Product.QTY")" name="quantity2" min="1" value="1" class="product_qty" /></div>
            <div class="product_attr_dv container_info"><span class="title">@T("Sale.Product.Attr")</span> <div class="atter_append">     </div> </div>
            <div class="product_des_dv container_info"><span class="title">@T("Sale.Product.Description")</span><textarea class="productDec" placeholder="@T("Sale.Product.Description")" name="description2"></textarea></div>
            <div class="Product_price_div container_info"><span class="title dontBlock">@T("Sale.Product.Price") </span> <span class="product_price">@T("Amount.Zero")</span></div>
            <div class="pproduct_img_dv container_info"><span class="title dontBlock">@T("Sale.Product.Image")</span> <input name="image2" type="file" accept="image/png, image/jpeg" class="product_img" /></div>
        </div>
    </div>

    <div class="addmoreLine">
        <span>@T("ADD.MORE.LINE")</span>
    </div>

    <div class="billing_shipping_info">
        <div class="section new-billing-address" id="billing-new-make_order" style="">
            <div class="billing_shipping_text">@T("Make.An.Order.Billing.Text")</div>

            <div class="inputs" style=" width: 56%;">
                <label for="BillingNewAddress_FirstName">Is Same Address</label>
                @Html.CheckBox("SameShippingAddress")
            </div>
            

            @*<input type="checkbox" id="ShippingNewAddress_same" name="ShippingNewAddress.Same">*@
            <div class="">
                <input class="address-id" type="hidden" data-val="true" data-val-required="The Id field is required." id="BillingNewAddress_Id" name="BillingNewAddress.Id" value="0">
                <div class="edit-address">
                    @{
                        var FirstName = string.Empty;
                        var LastName = string.Empty;
                        var PhoneNumber = string.Empty;
                        var Email = string.Empty;
                        var Address1 = string.Empty;
                        var City = string.Empty;
                        int? CountryId = null;
                        int? StateProvinceId = 0;
                        if (ViewBag.BillingAddress != null)
                        {
                            var BillingNewAddress = ViewBag.BillingAddress as Address;
                            FirstName = BillingNewAddress.FirstName;
                            LastName = BillingNewAddress.LastName;
                            PhoneNumber = BillingNewAddress.PhoneNumber;
                            Email = BillingNewAddress.Email;
                            Address1 = BillingNewAddress.Address1;
                            City = BillingNewAddress.City;
                            CountryId = BillingNewAddress.CountryId;
                            StateProvinceId = BillingNewAddress.StateProvinceId;
                        }
                    }

                    <div class="inputs">
                        <label for="BillingNewAddress_FirstName">First name:</label>
                        <input type="text" data-val="true" data-val-required="First name is required." id="BillingNewAddress_FirstName" name="BillingNewAddress.FirstName" value="@FirstName">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="BillingNewAddress.FirstName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="BillingNewAddress_LastName">Last name:</label>
                        <input type="text" data-val="true" data-val-required="Last name is required." id="BillingNewAddress_LastName" name="BillingNewAddress.LastName" value="@LastName">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="BillingNewAddress.LastName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="BillingNewAddress_Email">Email:</label>
                        <input type="email" data-val="true" data-val-email="Wrong email" id="BillingNewAddress_Email" name="BillingNewAddress.Email" value="@Email">
                    </div>

                    <div class="inputs">
                        <label for="BillingNewAddress_City">City:</label>
                        <input type="text" data-val="true" data-val-required="City is required" id="BillingNewAddress_City" name="BillingNewAddress.City" value="@City">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="BillingNewAddress.City" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="BillingNewAddress_Address1">Address 1:</label>
                        <input type="text" data-val="true" data-val-required="Street address is required" id="BillingNewAddress_Address1" name="BillingNewAddress.Address1" value="@Address1">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="BillingNewAddress.Address1" data-valmsg-replace="true"></span>
                    </div>

                    <div class="inputs">
                        <label for="BillingNewAddress_PhoneNumber">Phone number:</label>
                        <input type="tel" data-val="true" data-val-required="Phone is required" id="BillingNewAddress_PhoneNumber" name="BillingNewAddress.PhoneNumber" value="@PhoneNumber">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="BillingNewAddress.PhoneNumber" data-valmsg-replace="true"></span>
                    </div>

                    <div class="inputs">
                        <label for="BillingNewAddress_CountryId">Country:</label>
                        <select data-trigger="country-select"
                                data-url="/country/getstatesbycountryid"
                                data-stateprovince="#BillingNewAddress_StateProvinceId"
                                data-loading="#states-loading-progress"
                                data-val="true"
                                data-val-required="Country is required."
                                id="BillingNewAddress_CountryId"
                                name="BillingNewAddress.CountryId">
                            <option value="0">Select country</option>
                            <option value="19">Bangladesh</option>
                        </select>
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="BillingNewAddress.CountryId" data-valmsg-replace="true"></span>
                    </div>

                    <div class="inputs">
                        <label for="BillingNewAddress_StateProvinceId">State / province:</label>
                        <select data-trigger="state-select" id="BillingNewAddress_StateProvinceId" name="BillingNewAddress.StateProvinceId">
                            <option value="0">Select state</option>
                        </select>
                        <span id="states-loading-progress" style="display: none;" class="please-wait">Wait...</span>
                        <span class="field-validation-valid" data-valmsg-for="BillingNewAddress.StateProvinceId" data-valmsg-replace="true"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="section new-Shipping-address" id="payment-new-make_order" style="">
            <div class="billing_shipping_text">@T("Make.An.Order.Shipping.Text")</div>
            <div class="inputs" style=" text-align: left; width: 38%;">              
            </div>


            @{
                FirstName = string.Empty;
                LastName = string.Empty;
                PhoneNumber = string.Empty;
                Email = string.Empty;
                Address1 = string.Empty;
                City = string.Empty;
                CountryId = null;
                StateProvinceId = 0;
                if (ViewBag.BillingAddress != null)
                {
                    var BillingNewAddress = ViewBag.BillingAddress as Address;
                    FirstName = BillingNewAddress.FirstName;
                    LastName = BillingNewAddress.LastName;
                    PhoneNumber = BillingNewAddress.PhoneNumber;
                    Email = BillingNewAddress.Email;
                    Address1 = BillingNewAddress.Address1;
                    City = BillingNewAddress.City;
                    CountryId = BillingNewAddress.CountryId;
                    StateProvinceId = BillingNewAddress.StateProvinceId;
                }
            }


            <div class="">
                <input class="address-id" type="hidden" data-val="true" data-val-required="The Id field is required." id="ShippingNewAddress_Id" name="ShippingNewAddress.Id" value="0">
                <div class="edit-address">
                    <div class="inputs">
                        <label for="ShippingNewAddress_FirstName">First name:</label>
                        <input type="text" data-val="true" data-val-required="First name is required." id="ShippingNewAddress_FirstName" name="ShippingNewAddress.FirstName" value="@FirstName">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="ShippingNewAddress.FirstName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="ShippingNewAddress_LastName">Last name:</label>
                        <input type="text" data-val="true" data-val-required="Last name is required." id="ShippingNewAddress_LastName" name="ShippingNewAddress.LastName" value="@LastName">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="ShippingNewAddress.LastName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="ShippingNewAddress_Email">Email:</label>
                        <input type="email" data-val="true" data-val-email="Wrong email"  id="ShippingNewAddress_Email" name="ShippingNewAddress.Email" value="@Email">
                    </div>

                    <div class="inputs">
                        <label for="ShippingNewAddress_City">City:</label>
                        <input type="text" data-val="true" data-val-required="City is required" id="ShippingNewAddress_City" name="ShippingNewAddress.City" value="@City">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="ShippingNewAddress.City" data-valmsg-replace="true"></span>
                    </div>
                    <div class="inputs">
                        <label for="ShippingNewAddress_Address1">Address 1:</label>
                        <input type="text" data-val="true" data-val-required="Street address is required" id="ShippingNewAddress_Address1" name="ShippingNewAddress.Address1" value="@Address1">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="ShippingNewAddress.Address1" data-valmsg-replace="true"></span>
                    </div>

                    <div class="inputs">
                        <label for="ShippingNewAddress_PhoneNumber">Phone number:</label>
                        <input type="tel" data-val="true" data-val-required="Phone is required" id="ShippingNewAddress_PhoneNumber" name="ShippingNewAddress.PhoneNumber" value="@PhoneNumber">
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="ShippingNewAddress.PhoneNumber" data-valmsg-replace="true"></span>
                    </div>


                    <div class="inputs">
                        <label for="ShippingNewAddress_CountryId">Country:</label>
                        <select data-trigger="country-select" data-url="/country/getstatesbycountryid"
                                data-stateprovince="#ShippingNewAddress_StateProvinceId"
                                data-loading="#states-loading-progress" data-val="true"
                                data-val-required="Country is required."
                                id="ShippingNewAddress_CountryId"
                                name="ShippingNewAddress.CountryId">
                            <option value="0">Select country</option>
                            <option value="19">Bangladesh</option>

                        </select>
                        <span class="required">*</span>
                        <span class="field-validation-valid" data-valmsg-for="ShippingNewAddress.CountryId" data-valmsg-replace="true"></span>
                    </div>

                    <div class="inputs">
                        <label for="ShippingNewAddress_StateProvinceId">State / province:</label>
                        <select data-trigger="state-select" id="ShippingNewAddress_StateProvinceId" name="ShippingNewAddress.StateProvinceId">
                            <option value="0">Select state</option>
                        </select>
                        <span id="states-loading-progress" style="display: none;" class="please-wait">Wait...</span>
                        <span class="field-validation-valid" data-valmsg-for="ShippingNewAddress.StateProvinceId" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="upload_order">Make Order</button>
</form>




<script asp-location="Footer">

    var currentLine = 2;

    $('body').on('focus', '.product_name', function (e)
    {
        $(this).autocomplete({
        source: '/Catalog/SearchTermAutoCompleteForMakeAnOrder',
        minLength:3,
        select: function (event, ui)
        {
            $(this).parents(".mnoContainer").find(".atter_append").html('');
            debugger;
            console.log(ui);
            var dropdown = [];
            var productPrice = ui.item.price.PriceValue;
            if (ui.item.ProductAttributes.length > 0)
            {
                $(this).parents(".mnoContainer").find(".product_attr").html("");
                for (let attr of ui.item.ProductAttributes)
                {
                    var name = attr.Name;
                    if (attr.Values.length > 0)
                    {
                        debugger;
                        var atterHtml = '<select name="attr1" class="product_attr"><option value="0"> Select ' + name + '</option>';
                        for (let val of attr.Values)
                        {
                            var price = val.PriceAdjustmentValue;
                            atterHtml += '<option value="' + price + '">' + val.Name + ' </option>';
                        }
                        atterHtml += '</select>';
                        $(this).parents(".mnoContainer").find(".atter_append").append(atterHtml);
                    }
                }
            }
            console.log(dropdown);
            var id = $(this).attr("name").replace("name", '');
            $('input.productid[name="id' + id + '"]').val(ui.item.id);
            $(this).parents(".mnoContainer").find(".product_price").html(ui.item.price.Price);
            $(this).parents(".mnoContainer").find(".price").val(ui.item.price.Price);
            $(this).parents(".mnoContainer").find(".productPrice").val(ui.item.price.Price);


            $(this).val(ui.item.label);
            $(this).parents(".mnoContainer").find(".pproduct_img_dv").css("display", "none");
            $(this).parents(".mnoContainer").find(".product_des_dv").css("display", "none");
            $(this).parents(".mnoContainer").find(".Product_price_div.container_info").css("display", "block");
            $(this).parents(".mnoContainer").find(".product_attr_dv.container_info").css("display", "block");
            return false;
        },
    });
    });


    $(".addmoreLine span").click(function ()
    {
        currentLine++;
        $("#lineItem").val(currentLine)
        var html = '<div class="mnoContainer"> <div class="cross"><i class="far fa-times-circle"></i></div> <input type="hidden" value="0" class="productid" name="id' + currentLine + '" /> <input type="hidden" value="0" class="productPrice" /> <input type="hidden" value="0" class="price" name="price' + currentLine + '" /> <input type="hidden" value="" class="attrName" name="attrName' + currentLine + '" /> <div class="product_name_dv container_info"><span class="title">@T("Sale.Product.Name") </span>  <input type="text" placeholder="@T("Sale.Product.Name")" class="product_name" name="name' + currentLine + '" /></div> <div class="pproduct_quantity_dv container_info"><span class="title">@T("Sale.Product.QTY")</span> <input type="number" placeholder="@T("Sale.Product.QTY")" name="quantity' + currentLine + '" min="1" value="1" class="product_qty" /></div> <div class="product_attr_dv container_info"><span class="title">@T("Sale.Product.Attr")</span> <div class="atter_append">     </div> </div> <div class="product_des_dv container_info"><span class="title">@T("Sale.Product.Description")</span><textarea class="productDec" placeholder="@T("Sale.Product.Description")" name="description' + currentLine + '"></textarea></div> <div class="Product_price_div container_info"><span class="title dontBlock">@T("Sale.Product.Price") </span> <span class="product_price">@T("Amount.Zero")</span></div> <div class="pproduct_img_dv container_info"><span class="title dontBlock">@T("Sale.Product.Image")</span> <input name="image' + currentLine + '" type="file" accept="image/png, image/jpeg" class="product_img" /></div> </div>';
        $("div#make_an_order").append(html);

    });


    $(document).on("change", "select.product_attr", function ()
    {
        debugger;
        var self = this;
        var attrName = "";
        if ($(this).hasClass('error_dv'))
        {
            $(this).removeClass('error_dv');
        }
        var price = parseInt($(this).parents(".mnoContainer").find(".productPrice").val());
        var attrList= $(this).parents(".mnoContainer").find(".atter_append select");
        attrList.each(function (index)
        {
            debugger;
            var selectedPrice = parseInt($(this).find('option:selected').val());
            if (selectedPrice != NaN && selectedPrice != 0)
            {
                price += selectedPrice;
                attrName += $(this).find('option:selected').text() + "</br>";
            }
        });
        debugger;
        $(self).parents(".mnoContainer").find(".product_price").html(price);
        $(self).parents(".mnoContainer").find(".price").val(price);
        $(self).parents(".mnoContainer").find(".attrName").val(attrName);
    });



    $("button#upload_order").click(function (e) {
        debugger;
        e.preventDefault();
        var attrList = $("select.product_attr");
        var foundBlank = false;
        attrList.each(function (index)
        {
            debugger;
            var selected_index = $(this).prop('selectedIndex');
            if (selected_index == 0) {
                $(this).addClass("error_dv");
                $([document.documentElement, document.body]).animate({
                    scrollTop: $(this).offset().top
                });
                foundBlank = true;
                return false;
            }
        });
        debugger;
        if (foundBlank == false)
        {
            $("#category-form").submit();
        }

    });



    $(document).on("click", ".cross", function () {
        $(this).parents(".mnoContainer").find(".atter_append").html("");
        $(this).parents(".mnoContainer").find("input").val("");
        $(this).parents(".mnoContainer").find(".product_attr_dv.container_info").css("display", "none");
        $(this).parents(".mnoContainer").find(".Product_price_div.container_info").css("display", "none");

        $(this).parents(".mnoContainer").find(".product_price").html("");

        $(this).parents(".mnoContainer").find(".pproduct_img_dv").css("display", "block");
        $(this).parents(".mnoContainer").find(".product_des_dv").css("display", "block");
    });

    $("input#SameShippingAddress").change(function () {
        debugger;
        if (this.checked)
        {            
            $("input#ShippingNewAddress_FirstName").val($("input#BillingNewAddress_FirstName").val());
            $("input#ShippingNewAddress_LastName").val($("input#BillingNewAddress_LastName").val());
            $("input#ShippingNewAddress_Email").val($("input#BillingNewAddress_Email").val());
            $("input#ShippingNewAddress_City").val($("input#BillingNewAddress_City").val());
            $("input#ShippingNewAddress_Address1").val($("input#BillingNewAddress_Address1").val());
            $("input#ShippingNewAddress_PhoneNumber").val($("input#BillingNewAddress_PhoneNumber").val());
            $("select#ShippingNewAddress_CountryId").val($("select#BillingNewAddress_CountryId").val());
            $("div#payment-new-make_order").hide();

            $(".billing_shipping_info input").attr("data-val", "false");

        }
        else
        {
            $("div#payment-new-make_order").show();
            $(".billing_shipping_info input").attr("data-val", "true");

        }
    });

    $("input#BillingNewAddress_FirstName").blur(function () {
        if ($('input#SameShippingAddress').is(':checked')) {
            $("input#ShippingNewAddress_FirstName").val($("input#BillingNewAddress_FirstName").val());
        }
    });


    $("input#BillingNewAddress_LastName").blur(function () {
        if ($('input#SameShippingAddress').is(':checked')) {
            $("input#ShippingNewAddress_LastName").val($("input#BillingNewAddress_LastName").val());
        }
    });

    $("input#BillingNewAddress_Email").blur(function () {
        if ($('input#SameShippingAddress').is(':checked')) {
            $("input#ShippingNewAddress_Email").val($("input#BillingNewAddress_Email").val());
        }
    });
    $("input#BillingNewAddress_City").blur(function () {
        if ($('input#SameShippingAddress').is(':checked')) {
            $("input#ShippingNewAddress_City").val($("input#BillingNewAddress_City").val());
        }
    });
    $("input#BillingNewAddress_Address1").blur(function () {
        if ($('input#SameShippingAddress').is(':checked')) {
            $("input#ShippingNewAddress_Address1").val($("input#BillingNewAddress_Address1").val());
        }
    });
    $("input#BillingNewAddress_PhoneNumber").blur(function () {
        if ($('input#SameShippingAddress').is(':checked')) {
            $("input#ShippingNewAddress_PhoneNumber").val($("input#BillingNewAddress_PhoneNumber").val());
        }
    });
    $("select#BillingNewAddress_CountryId").blur(function () {
        if ($('input#SameShippingAddress').is(':checked')) {
            $("select#ShippingNewAddress_CountryId").val($("select#BillingNewAddress_CountryId").val());
        }
    });
</script>






<style>

    .error_dv {
        background-color: red;
        color: white;
    }
    span.itm_number {
        display: block;
        padding: 3px 0 0 10px;
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: green;
        font-weight: bold;
        color: white;
    }
    .cross {
        position: absolute;
        width: 50px;
        height: 50px;
        right: 0;
        border-radius: 100%;
        text-align: center;
        font-size: 48px;
        color: red;
        cursor: pointer;
    }

    span.title.dontBlock {
        display: initial;
        padding-right: 19px;
    }

    .Product_price_div.container_info, .product_attr_dv.container_info {
        display: none;
    }

    textarea.productDec {
        max-width: 100%;
        height: 40px !important;
        min-height: 30px;
    }

    span.title {
        font-size: 15px;
        text-align: left !important;
        display: block;
        margin: 8px 0px 7px 0;
        font-weight: 800;
    }

    .addmoreLine {
        width: 80%;
        margin: 30px auto 33px auto;
        padding-bottom: 10px;
        text-align: left;
        font-size: 20px;
    }

        .addmoreLine span {
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 4px 4px 10px 4px #cac6c6;
            padding: 10px;
        }


    .download_link {
        text-align: center;
        font-size: 15px;
    }

        .download_link a {
            text-decoration: underline;
            color: green;
            font-weight: 700;
            font-size: 20px;
        }

    span.product_price {
        color: green;
        font-weight: 700;
        font-size: 15px;
    }

    .mnoContainer.header_container {
        width: 80%;
        margin: 10px auto 35px auto;
        border-bottom: 1px solid #beb5b5;
        padding-bottom: 8px;
    }

    button#upload_order {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        display: block;
        margin: 30px auto;
    }

    .product_name_dv, .pproduct_quantity_dv, .pproduct_img_dv, .product_attr_dv, .container_info {
        display: block;
        padding: 0px 30px 0px 10px;
    }


    input.product_qty {
        border: 1px solid #d3cdcd;
        text-align: left;
        padding: 12px;
    }

    .mnoContainer:not(.header_container) {
        width: 80%;
        margin: 10px auto 10px auto;
        padding-bottom: 10px;
        border-radius: 5px;
        background-color: #eee;
        box-shadow: 0px 0px 5px 2px #b6adad;
        position: relative;
    }

    .header_container .pproduct_img_dv, .header_container .pproduct_quantity_dv {
        width: 200px;
        text-align: center;
    }

    .header_container .product_name_dv {
        width: 500px;
        text-align: center;
    }

    input.product_qty, input.product_name, textarea.productDec {
        width: 46%;
        border-radius: 5px;
        height: 35px;
    }

    select.product_attr {
        width: 50%;
        display: block;
        margin-top: 10px;
        border-radius: 5px;
    }

    .product_name_dv.container_info, .pproduct_quantity_dv.container_info {
        display: inline-block;
        width: 49%;
    }

    .product_name_dv.container_info input, .pproduct_quantity_dv.container_info input {
        width: 98%;
    }
    .billing_shipping_text {
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: 700;
    }
    div#billing-new-make_order, div#payment-new-make_order {
        display: inline-block;
        width: 45%;
    }

    @@media all and (max-width: 1000px) {
        div#billing-new-make_order, div#payment-new-make_order {
            display: inline-block;
            width: 100% !important;
        }

        select.product_attr, input.product_qty, input.product_name, textarea.productDec {
            width: 100%;
            border-radius: 5px;
            height: 35px;
        }

        .mnoContainer {
            width: 100% !important;
        }

        .cross {
            width: 30px;
            height: 30px;
            right: 6px;
            font-size: 35px;
        }
    }
</style>





